#imagenes
images

#dataset_papers
dataset_papers

#faiss melanoma
#no subir nada de lo que esta en la carpeta faiss_melanoma
NLP/CHATBOT/faiss_melanoma 


#flagged
NLP/CHATBOT/flagged


#modelo llama-3.1
/Llama-3.1-MedPalm2-imitate-8B-Instruct.Q2_K.gguf
/llama3.1



NLP/CHATBOT/rules_based.png
NLP/CHATBOT/results_naive_bayes.png
NLP/CHATBOT/chatbot_naive_bayes.png
COMPUTER_VISION/*.pth 
COMPUTER_VISION/*.h5
NLP/CHATBOT/*.png
NLP/CHATBOT/*.jpg
NLP/CHATBOT/*.json
FINAL_COMBINATION/finetuned_model
FINAL_COMBINATION/imagenes_prueba_cuestionario
FINAL_COMBINATION/imagenes_pruebas_whisper
FINAL_COMBINATION/imagenes_Rag
FINAL_COMBINATION/*.pth
FINAL_COMBINATION/*.gguf
FINAL_COMBINATION/*.json
COMPUTER_VISION/vision_transformers/*.pth
COMPUTER_VISION/vision_transformers/*.png
COMPUTER_VISION/vision_transformers/*.csv
COMPUTER_VISION/Ensamblado_mejores_modelos/*.png
COMPUTER_VISION/Ensamblado_mejores_modelos/*.pth
NLP/CHATBOT/finetuned_model
NLP/CHATBOT/imagenes_comparacion_cuestionario
NLP/CHATBOT/results
NLP/CHATBOT/TRANSCRIPTION_ANSWERS/*.mp4
NLP/CHATBOT/TRANSCRIPTION_ANSWERS/__pycache__
/*.json
