#pesos modelos
COMPUTER_VISION/melanoma_model_1_torch.pth
COMPUTER_VISION/melanoma_model_1.weights.h5
COMPUTER_VISION/melanoma_model_1_harvard.weights.h5
COMPUTER_VISION/melanoma_model_1_torch_RESNET50_harvard.pth
COMPUTER_VISION/melanoma_model_1_torch_EFFICIENTNETBO_harvard.pth
COMPUTER_VISION/melanoma_model_1_harvard_balanced.weights.h5
COMPUTER_VISION/melanoma_model_1_harvard_2.weights.h5
COMPUTER_VISION/best_model.pth
COMPUTER_VISION/best_model_f1.h5
COMPUTER_VISION/best_model_epoch_28_f1_0.6545.h5
COMPUTER_VISION/best_model_EFFICIENTBO.pth
COMPUTER_VISION/best_model_EFFICIENTB3.pth
COMPUTER_VISION/melanoma_model_1_harvard_balanced.weights.h5
images
COMPUTER_VISION/*.pth
COMPUTER_VISION/*.h5
#dataset_papers
dataset_papers

#faiss melanoma
#no subir nada de lo que esta en la carpeta faiss_melanoma
NLP/CHATBOT/faiss_melanoma 


#flagged
NLP/CHATBOT/flagged


#modelo llama-3.1
/Llama-3.1-MedPalm2-imitate-8B-Instruct.Q2_K.gguf
/llama3.1


#images
NLP/CHATBOT/rules_based.png
NLP/CHATBOT/results_naive_bayes.png
NLP/CHATBOT/chatbot_naive_bayes.png
"COMPUTER_VISION/*.pth" 
"COMPUTER_VISION/*.h5" 
CHATBOT/*.png
CHATBOT/*.jpg
CHATBOT/*.json